**/bin/
**/obj/
**/publish/
**/dist/
**/package/
**/package-arm64/
**/package-arm64-fixed/
**/package-intel*/
**/package-trash*/
**/package-linux/
**/dmg-builder/
**/.vs/
**/.idea/
dotnet-appdata/
tools/
.DS_Store
*.user
*.suo
*.exe
*.dmg
*.deb
*.zip
*.tar
*.tar.gz